@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "ShowCustomerOnMap";
}

<style>
    #map {
    height: 500px;
    width: 500px;
    }
</style>

<h2>Customer Location</h2>

<body onload="initialize()">
    <div id="map"></div>
</body>

@section Scripts{
    <script>
        var geocoder;
        var map;
        var customer = @Html.Raw(Json.Encode(Model));

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);  
            var mapOptions = {
              zoom: 8,
              center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            codeAddress();
            }

        function codeAddress() {
            var address = customer.Street;
            console.log(address);
            geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZCClfQnXjObSwJtdpPVx2fl75m1xmU_s&callback=initialize" async defer></script>

